/* Global style */
body, header {
    display: flex;
    justify-content: center;
}

.main-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif, arial;
    width: 100%;
    max-width: 1440px;
}

/* Search section's style */
.search_section {
    padding: 25px 100px;
}

.search_all {
    margin: 0;
    display: flex;
}

.search_all .searchbar-input, .search_all button {
    height: 69px;
    border: none;
    background-color: #E7E7E7;
}

.search_all .searchbar-input {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}

.search_all button, .input-title i {
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
}

.search_all button:hover, .tag:hover, .sort:hover, .sort-specific:hover {
    cursor: pointer;
}

.search_all .fa-search {
    font-size: 32px;
}

.taglist {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 25px 20px 0 0;
}

.tag span, .tag i {
    color: white;
    font-size: 14px;
}

.tag span, .sort span {
    margin-right: 15px;
}

.sort-all {
    display: flex;
    margin-top: 15px;
}

.sort {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 20px 25px;
    border-radius: 5px;
    margin-right: 20px;
}

.sort:last-child {
    margin-right: 0;
}

.sort span, .sort i, .input-title i {
    color: white;
    font-size: 18px;
}

.input-title i {
    padding: 20px;
}

.sort-specific {
    border-radius: 5px 5px 0 0;
    max-width: 670px;
    width: 100%;
    margin-right: 20px;
}

.show-sort-specific {
    display: block;
}

.hide-sort-specific {
    display: none;
}

.input-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input-title input {
    font-size: 18px;
    background-color: transparent;
    width: 100%;
    padding: 20px;
    border: none;
}

.input-title input::placeholder {
    color: white;
    opacity: 50%;
}

.result-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 10px 0 10px;
    position: absolute;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.parahraphItem {
    margin: 0 0 10px 0; 
}

.item {
    font-size: 18px;
    color: white;
    padding: 2px 5px 2px 5px;
}

.ingredient-container .parahraphItem:hover .item {
    background-color: #0A64EB;
}

.appliance-container .item:hover {
    background-color: #3BCE89;
}

.ustensil-container .item:hover {
    background-color: #E83521;
}

/** Custom scrollbar for specific filter**/
.result-container::-webkit-scrollbar {
  width: 10px;
}

.result-container::-webkit-scrollbar-track, .result-container::-webkit-scrollbar-thumb  {
  border-radius: 10px;
}

.ingredient-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #074BB0;
}

.ingredient-container::-webkit-scrollbar-thumb {
    background: #0A64EB; 
}

.ingredient-container::-webkit-scrollbar-thumb:hover {
    background: #074BB0; 
}
/*Appliances' box scrollbar*/
.appliance-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #29A36A;
}

.appliance-container::-webkit-scrollbar-thumb {
    background: #3BCE89; 
}

.appliance-container::-webkit-scrollbar-thumb:hover {
    background: #29A36A; 
}
/*Appliances' box scrollbar*/
.ustensil-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #B92413;
}

.ustensil-container::-webkit-scrollbar-thumb {
    background: #E83521; 
}

.ustensil-container::-webkit-scrollbar-thumb:hover {
    background: #B92413; 
}

/* Filters' background-color */
.ingredient-bg {
    background-color: #3282F7;
}

.appliance-bg {
    background-color: #68D9A4;
}

.ustensil-bg {
    background-color: #ED6454;
}

/* Recipe section's style */
.recipe_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 25px 100px;
}

.recipe_section article {
    background-color: #E7E7E7;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.recipe_section article img {
    width: 100%;
    height: 100%;
    max-height: 178px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.recipe_section article .titleAndTime, .recipe_section article .ingredientsAndDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.recipe_section article .titleAndTime h1, .recipe_section article .titleAndTime p {
    font-size: 18px;
    margin: 0;
}

.recipe_section article .titleAndTime h1 {
    font-weight: 400;
}

.recipe_section article .titleAndTime p {
    font-weight: 700;
}

.recipe_section article .titleAndTime p .fa-clock-o {
    font-size: 20px;
}

.recipe_section article .ingredientsAndDescription ul, 
.recipe_section article .ingredientsAndDescription p {
    flex: 1;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.recipe_section article .ingredientsAndDescription {
    height: 105px;
}

.recipe_section article .ingredientsAndDescription ul {
    list-style: none;
    padding: 0 10px 0 0;
}

.recipe_section article .ingredientsAndDescription ul li span {
    font-weight: 700;
}


.recipe_section article .ingredientsAndDescription p {
    text-align: justify;
}

/* No results section's style */
.no-results_section {
    padding: 0 100px;
}
